*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.f{
    font-size: 17px;
    display: flex;

    img{
        width: 20px;
        height: 20px;
        color: #1264a3;
    }

    a{
        color: #1264a3;
    }

    div{
        display: flex;
        align-items: center;
    }

    &--list{
        margin: 30px;
    }
}