*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.f{
    font-size: 17px;
    display: flex;
    flex-direction: column;

    &--list{
        display: flex;
        margin: 30px;
    }

    &_second{
        margin: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img{
        width: 20px;
        height: 20px;
    }

    a{
        color: #1264a3;
    }

    &_third{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 13px;
    }
}