*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.b{
    background-color: rgb(77, 30, 77);

    &__first{
        display: flex; 
        justify-content: space-between;
        align-items: center;

        &--img1{
            width: 20%;
            height: 35px;
            padding-top: 20px;
            padding-left: 20px;
        }
        &--img2{
            width: 30px;
            height: 30px;
            padding-top: 20px;
            padding-right: 20px;
        }
    }
    
    &__second{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        

        &--first{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            font-size: 40px;
            color: white;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 10%;
            text-align: center;

        }
        &--second{
            display: flex;
            color: white;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 1%;
            justify-content: center;
            text-align: center;

        }
        &--third{
            width: 80%;
            height: 50px;
            background-color: azure;
            border-style: none;
            color: rgb(77, 30, 77);
            margin-top: 10%;
            border-radius: 5%;
        }
        &--fourth{
            width: 80%;
            height: 50px;
            background-color: blue;
            border-style: none;
            color: white;
            margin-top: 2%;
            border-radius: 5%;
        }
    }
        
}

